
/* p text color */
.textOnSurfaceVariant {
  color: rgb(149 171 222);
}
/* for button gradient */
.primaryGradient {
  background: linear-gradient(90deg, #c0c1ff 0%, #6a6cff 50%, #2f2ebe 100%);
}
/* for demo button */
.demoButton{
     background-color: rgb(8 36 80 / 0.8)
}
/* button borders */
.borderGhost{
    /* border-color: var(--neutral); */
    /* border-color: rgb(83, 83, 83); */
    border-width: 1px;
    border-radius: 10px;
    border-bottom: #505151;
    border-right: #505151;
}
/* primary button text  */
.textOnPrimary {
  --tw-text-opacity: 1;
  color: rgb(39 36 184 / var(--tw-text-opacity, 1));
}